version: 2.1

executors:
  node:
    docker:
      - image: cimg/node:15.1
  base:
    docker:
      - image: 'cimg/base:stable'

orbs:
  node: circleci/node@4.1
  gcp-gcr: circleci/gcp-gcr@0.13.0
  gcp-cloud-run: circleci/gcp-cloud-run@1.0.2

jobs:
  install_dependencies:
    executor: node
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn 
      - persist_to_workspace:
          root: .
          paths:
            - .
  
  test:
    executor: node
    steps:
      - attach_workspace:
          at: .
      - run: yarn test:ci
          environment:
            JEST_JUNIT_OUTPUT_DIR: "reports/junit/js-test-results.xml"
      - store_test_results:
          path: reports
      - store_artifacts:
          path: reports
      - store_artifacts:
          path: coverage

  build:
    executor: node
    steps:
      - attach_workspace:
          at: .
      - run: yarn build  

  deploy_cloud_run_staging:
    executor: base
    steps:
      - gcp-cloud-run/init
      - gcp-cloud-run/deploy:
          image: 'asia.gcr.io/${GOOGLE_PROJECT_ID}/first-circleci-demo:${CIRCLE_SHA1}'
          platform: managed
          region: asia-northeast1
          service-name: first-circleci-demo-staging
          unauthenticated: true

  deploy_cloud_run_prod:
    executor: base
    steps:
      - gcp-cloud-run/init
      - gcp-cloud-run/deploy:
          image: 'asia.gcr.io/${GOOGLE_PROJECT_ID}/first-circleci-demo:${CIRCLE_SHA1}'
          platform: managed
          region: asia-northeast1
          service-name: first-circleci-demo
          unauthenticated: true

workflows:
  build_and_test: 
    jobs:
      - install_dependencies
      - test:
          requires:
            - install_dependencies
      - build:
          requires:
            - install_dependencies

  docker_build_and_deploy_cloud_run:
    jobs:
      - gcp-gcr/build-and-push-image:
          image: first-circleci-demo
          tag: '${CIRCLE_SHA1}'
          registry-url: asia.gcr.io
          use-docker-layer-caching: true
          filters:
            branches:
              only:
                - master
      - deploy_cloud_run_staging:
          requires:
            - gcp-gcr/build-and-push-image
      - approve_to_release_prod:
          type: approval
          requires:
            - deploy_cloud_run_staging
      - deploy_cloud_run_prod:
          requires:
            - approve_to_release_prod
