version: 2.1

orbs: # Orbs
  node: circleci/node@4.9.0
  gcp-gcr: circleci/gcp-gcr@0.13.0
  browser-tools: circleci/browser-tools@1.2.3

jobs:
  e2e_parallel:
    parallelism: 10 # Parallelism
    docker:
      - image: cimg/node:22.7.0-browsers
    resource_class: large # Resource Class(Docker)
    steps:
      - checkout
      - node/install-packages
      - browser-tools/install-chrome # Install Chrome
      - run: | 
          TEST_FILES=$(circleci tests glob "e2e/*.spec.ts" | circleci tests split --split-by=timings)
          npm run e2e -file=$TEST_FILES
      - store_test_results:
          path: report.xml

  deploy_cloud_run:
    machine:
      docker_layer_caching: true # Docker Layer Caching
      resource_class: large # Resource Class(Linux VM)
    steps:
      - checkout
      - gcp-gcr/gcr-auth
      - gcp-gcr/build-image:
          image: first-circleci-demo
          tag: '${CIRCLE_SHA1}'
          registry-url: asia.gcr.io
      - gcp-gcr/push-image:
          image: first-circleci-demo
          tag: '${CIRCLE_SHA1}'
          registry-url: asia.gcr.io
      - run:
          name: Deploy to Google Cloud run
          command: >-
            gcloud run deploy first-circleci-demo
            --platform=managed --region=asia-northeast1 --allow-unauthenticated
            --image=asia.gcr.io/${GOOGLE_PROJECT_ID}/first-circleci-demo:${CIRCLE_SHA1}
    
workflows:
  test_and_deploy: 
    jobs:
      - node/test:
          version: 16.13.1
          name: unit_test
          run-command: test:ci
          test-results-path: junit.xml # Upload Test Results
      - e2e_parallel:
          requires:
            - unit_test
      - deploy_cloud_run:
          filters:
            branches:
              only:
                - master
